/* 輪播圖的整個區塊 */
.sliders-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sliders {
  width: 521px;
}

/* 包住整個圖片的區塊 */
.sliders-item {
  width: 521px;
  height: 400px;
}

/* 大圖 */
.sliders-item .slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center center; */
}

/* 下方小圖 */
.thumbnail_slider-wrap {
  width: 447px;
  height: 90px;
  margin: 0 auto 10px;
}

/* 小圖 */
.thumbnail_sliders-item .thumbnail_slider-img {
  width: 96%;
  height: 90px;
  margin-top: 5px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .sliders-wrap {
    margin-left: -29px;
  }

  .thumbnail_sliders-item .thumbnail_slider-img {
    width: 77%;
    height: 90px;
    margin: 0;
    margin-top: 10px;
  }
}
