.container {
  width: 100%;
  padding-right: 54px;
  margin-top: 30px;
}

/* 推薦物品區塊的大標題 */
.container_title {
  padding-left: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 36px;
  color: #272343;
}

/* card - 每一個卡片的內容 */
.card {
  width: 200px;
  height: 250px;
  text-align: center;
  opacity: 1;
  color: rgb(165, 41, 41);
  border-radius: 20px;
  margin-bottom: 30px;
}

/* style - 卡片的圖片 */
.card-img {
  width: 100%;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card-img:hover {
  opacity: 0.5;
  transition: all 0.5s ease 0s;
}

/* style - 卡片下方的區塊 */
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  border: solid 1px #d3d4d6;
  border-top: none;
  border-radius: 0 0 20px 20px;
}

/* style - 卡片下方區塊的文字 */
.card-title {
  color: #272343;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

/* 左右箭頭、下方的進度圓點 */
.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before {
  color: #ffd803 !important;
}

/* the slides - 每一張卡片*/
/* .slick-slide {
  margin: 0 0px;
} */

/* the parent - 包住所有卡片的 div */
.slick-list {
  margin: 0 30px;
}

@media only screen and (max-width: 768px) {
  .slick-list {
    margin: 0px;
  }

  /* the slides - 每一張卡片*/
  .slick-slide {
    width: 200px !important;
    margin-right: 55px;
  }
}
